
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

body{
    font-family: "Raleway", sans-serif;
    margin: 0px;

    }

main{
    padding:0 2rem 0 2rem;
    max-width: 1230px;
    margin: auto;


}
h1{
    font-size: 1.3em;
    font-weight: 800;
}
h2{
    font-size: 1em;
    font-weight: 800;
}
h3{
    font-size: 1em;
    font-weight: 800;
}
em{
    font-weight: 600;
}

/* HEADER */
.header{
    display: grid;
    align-items: center;
    max-width: 1230px;
    margin: auto;
    padding: 0rem 2rem 0rem 2rem;

}

.logo_header, .header_navbar, .header_signup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_header{
    padding: 1rem 1rem 1rem 0rem;
}

.header_navbar_titre{
    text-decoration: none;
    color: black;
    font-weight:600 ;
    padding:30px;
}

.header_signup{
    padding-left: 30px;
    padding-right: 10px;
    background-color: #fff;
    border:0px;
    color:#0065FC;
    font-weight: 700;
    text-decoration: none;
    padding:30px;
}


@media (min-width:701px){
    .header{
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: "logo . navbar signup";
    }
    .logo_header{
        grid-area: logo;
    }
    .header_navbar{
        grid-area: navbar;
    }
    .header_signup{
        grid-area: signup;
    }
    .header_navbar_titre[data-active=true]{
        color:#0065FC;
        border-top: 2px solid #0065FC;
    }
    .header_navbar_titre:hover{
        border-top: 2px solid #0065FC;
        color: #0065FC;
    }
}

@media (max-width:700px){
    .header{
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo . signup"
                            "navbar navbar navbar";
    }

    .logo_header{
        grid-area: logo;
    }

    .header_navbar{
        grid-area: navbar;
    }

    .header_signup{
        grid-area: signup;
    }

    .header_navbar_titre{
        width: 50%;
        text-align: center;
        border-bottom: #0065FC;
    }

    .header_navbar_titre[data-active=true]{
        color:#0065FC;
        border-bottom: 3px solid #0065FC;
        padding:30px;
    }

    .header_navbar_titre:hover{
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
    }

    
}
/* HEADER END*/

/* SECTION RECHERCHE */
/* FORM*/
.recherche_titre h1{
    margin-bottom:5px;
}

.recherche_titre p{
    margin-top:5px;
}
.recherche_formulaire_formulaire{
    display: inline-flex;
    max-width: 30rem;
    height: 3rem;
    margin: 0rem 0rem 1rem 0rem;
}
.recherche_formulaire{
    margin:20px 0px 20px 0px;
}
.recherche_formulaire_formulaire .fas{
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem 0 0 1rem;
}
.formu__icon{
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}
.input__city{
    border:0px;
    border-color: #FFFFFF;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    font-size: 1em;
    font-weight: 800;
    color: black;
    padding:1rem 1rem 1rem 0rem;
    width: 15rem;
    height: 100%;
    padding: 0 1.5rem;
}
.input__city::placeholder{
    color: #000000;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    height: 100%;
}
.recherche_formulaire_button_button{
    background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.5rem;
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width:540px) {
    .input__city{
        width: 10rem;
        padding: 0rem 0rem 0rem 0.5rem;
    }

    .recherche_formulaire_button_button{
        padding: 0 0.5rem;
    }
    
}
/* FORM END*/

/*FILTRES*/
.filtres{
    display:flex;
    align-items: center;
}
.filtres_h2{
    margin-right: 40px;
}
.filtres_button{
    display: flex;
    border-radius:2rem 2rem;
    border:3px solid #f2f2f2;
    justify-content: center;
    align-items: center;
    height:3rem;
    margin-right: 30px; 
    cursor: pointer;
}
.flitres_icon{
    background-color:#DEEBFF  ;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    border:3px solid #DEEBFF;
    margin:-4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;

}
.filtres_titre p{
    height: 2rem;  
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.filtres_button p{
    padding:0 1rem 0 0.8rem;
}

@media (max-width:1000px){
    .filtres_h2{
        width:100%;
    }
    .filtres{
        display: flex;
        flex-wrap: wrap;      
    }
    .filtres_button{
        margin-bottom: .5rem;

    }
}

/*FILTRES END*/
.recherche_free_rooms{
    display: flex;
    margin:20px 0px 20px 0px;

    
}
.recherche_free_room_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    margin-left: 10px;
}
/* SECTION RECHERCHE END*/


/* HEBERGEMENTS */
.hebergements{
    display: grid;
    grid-template-columns: 6fr 3fr;
    column-gap: 2rem;
    margin-bottom: 40px;
}
.hebergements_main, .hebergements_populaires{
    padding:2.1rem;
}

/* MAIN */
.hebergements_main{
    display: grid;
    column-gap: 1.7rem;
    row-gap: 2rem;
    background-color: #f2f2f2;
    border-radius: 1rem;
}

.hebergement_main_button{
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    width: 6rem;
    background-color: #f2f2f2;

}


.hebergements_main h1 {
    margin: 0px;
}
.hebergements_main h2 {
    margin: 0px;
}
.main_card{
    border-radius: 1.25rem;
    background-color: #fff;
    padding:4px;
    box-shadow: 0px 6px 15px 5px #CCC;
}
.main_card a{
    text-decoration: none;
}
.main_card_infos{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-bottom: 6px;
}
.main_card_infos ul{
    list-style-type: none;
    padding:0px;
    color:#0065FC;
    margin: 1rem 0rem 0rem 0rem;
}

.main_card_infos li{
    display: flex;
    flex-wrap: nowrap;
    
}


.main_card_infos h3{
    margin-bottom: 1px;
    margin-top: 4px;
    font-size: 0.9em;
}
.main_card_infos p{
    margin-top:0px;;
    margin-bottom: 5px;
    font-size: 0.8em;
}
.main_card_infos .fas{
    font-size: 12px;

}
.main_img{
    height: 7rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}
/* MAIN END */

/*POPU*/
.hebergements_populaires{
    background-color: #f2f2f2;
    border-radius: 1rem;
    display: grid;
    row-gap: 2rem;
    grid-template-rows: auto repeat(3,1fr);
}
.hebergement_popu_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 0px;
}
.hebergement_popu_title h2{
    margin : 0;
}
.popu{
    background-color: #FFFFFF;
    border-radius: 1.25rem;
    padding: 0.3rem;
    display: grid;
    box-shadow: 0px 6px 15px 5px #CCC;
}
.popu_card{
    height:8rem;
}
.popu_card1{
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow: auto;
    text-decoration: none;
    color:black;
}
.popu_img{
    position: relative;
    height: 100%;
    width: 33%;
}
.popu_img_img{
    border-radius: 1rem 0 0 1rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.popu_img_infos{
    margin-left: 1.2rem;
    margin-right: 0.8rem;
    display: flex;
    flex-direction: column;
}

.space{
    flex: 2;
}
.popu_img_infos h3{
    margin:0.7rem 0rem 0rem 0rem;
}
.popu_img_infos ul{
    list-style-type: none;
    padding: 0;
    color:#0065FC;
    margin: 0rem 0rem 0.5rem 0rem;
}
.popu_img_infos p{
    font-size: 0.9em;
    margin-top: 4px;
    margin-bottom: 0;
}
.popu_list{
    display: flex;
    flex-wrap: nowrap;
}

.empty{
    color: #e2e2e2;
}
.popu_list .fas{
    font-size: 12px;
    margin-right: 1px;}


@media (max-width: 1200px){
    .hebergements{
        display:grid;
        row-gap: 2rem;
        grid-template-columns: 1fr;
    }
    .hebergement_popu_title{
        grid-column: 1/-1;
    }
    .hebergements_populaires{
        display: grid;
        grid-row-start: 1;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 1fr;
        column-gap: 1rem;
    }
    .hebergement_main_title{
        grid-column: 1/-1;
    }
    .hebergements_main{
        display: grid;
        grid-row-start: 2;
        grid-template-columns: repeat(3, 1fr);;
    }


}

@media (min-width:1200px){
    .hebergements_main{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1.5rem 12rem 12rem 1.5rem;
    }
    .hebergements_main .hebergement_main_title{
        grid-column:1/-1;
    }
    .main_card1{
        grid-column: 1/2;
    }
    .main_card2{
        grid-column: 2/3;
    }
    .main_card3{
        grid-column: 3/4;
    }
}

@media (max-width: 1030px){
    .hebergements{
        display:grid;
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    .hebergements_main{
        display: grid;
        grid-template-rows: auto repeat(3, 1fr);
        grid-template-columns: 1fr 1fr;

    }

    .hebergements_populaires{
        display: grid;
        grid-row-start: 1;
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(3, 1fr);
        row-gap: 1rem;
    }
}

@media (max-width: 600px) {
    .hebergements_main{
        display: grid;
        grid-template-rows: auto repeat(6, 1fr);
        grid-template-columns: 1fr;
    }

    .hebergements_main{
        background-color: #fff;
    }
    .recherche{
        padding: 0rem 2rem 0rem 2rem;
    }
    main{
        padding: 0 ;
    }
}
/* HEBERGEMENTS END*/

/* ACTIVITES */
.activites{
    display: grid;
    column-gap: 2rem;
    margin-bottom: 40px;
}

.activites_title{
    margin-bottom: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 15px 5px #CCC;
    border-radius: 1rem;
    text-decoration: none;
}

.activites_card{
    box-shadow: 0 0 16px #f2f2f2;
    border-radius: 1rem;
}

.activites_card_title h3{
    color: #000;
    margin-left: 20px;
}

.activites_card_img{
    position: relative;
    flex:1;
}

.activites_card_img_img{
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0px 0px;
    object-fit: cover;
    position:absolute;
}


@media (min-width:601px) and (max-width: 1100px) {
    .activites{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 12rem 12rem 12rem;
        row-gap: 2rem;
    }
    .activites_title {
        grid-column: 1/-1;
                    }
}

@media (min-width: 1100px){
    .activites{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 10rem 2rem 2rem 8rem;
    }
    .activites_title {
        grid-column: 1/-1;
    }
    .activites_card1{
        grid-column: 1/2;
        grid-row: 2/6;
    }
    .activites_card2{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .activites_card3{
        grid-column: 2/3;
        grid-row: 5/6;
    }
    .activites_card4{
        grid-column: 3/4;
        grid-row: 2/6;
    }
    .activites_card5{
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .activites_card6{
        grid-column: 4/5;
        grid-row: 4/6;
    }
}
    
@media (max-width: 600px) {
    
    .activites{
        padding:0rem 2rem 0rem 2rem;
        display: grid;
        grid-template-rows: auto repeat(6, 12rem);
        row-gap: 2rem;
    }
}
/* ACTIVITES END */

/* FOOTER */
.footer{
    background-color: #f2f2f2;
    padding: 2rem;
}


.footer_container{
    max-width: 1230px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.footer ul{
    list-style-type: none;
    padding:0px;
}

.footer a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 0.9em;
}

.footer li{
    margin:8px 0 8px 0;
}

.footer h2{
    margin: 1rem 0rem 0rem 0rem;
}

.footer ul{
    margin: 0.5rem 0rem 0rem 0rem;
}

@media (min-width:800px){
    .footer_container{
    grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 799px){
    .footer_container{
        display: flex;
        flex-direction: column;
}
} 
/* FOOTER END */